<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        button {
            background-color:rgb(44, 247, 159);
            padding:10px;
            font-size:15px;
            border-radius: 5px;
            cursor: pointer;
            align-content: center;
        }
        h3{
            text-align: center;
        }
        button{
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
    <h3>Please login/Signup to check loan eligibility</h3>
   <button> <a href="Login.html">Login Now</a></button><br><br>
   <button> <a href="Register.html">Register Now</a></button>
    
</body>
</html>